* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'oswald', sans-serif;

}

.wrapper {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}




h1{
    position: fixed;
    z-index: 2;
    color: white;
    font-size: 100px;
    margin: 175px 0 0 40px;
}

#paragrafo_section {
    position: fixed;
    z-index: 2;
    color: white;
    font-size: 22px;
    width: 500px;
    margin: 310px 0 0 45px;
}

#lista_aside {
    position: fixed;
    color: white;
    z-index: 2;
    font-size: 20px;
    margin: 292px 0 0 900px;
    width: 594px;
}


h2 {
    position: fixed;
    color: white;
    z-index: 2;
    margin: 245px 0 0 874px;
}


video {
    z-index: -1;
    position: fixed;
    top: 0;
    width: 100%;
}


.game {
    text-align: center;
    position: relative;
    z-index: 2;
}

.link_nav {
    margin: 10px;
    width: 100px;
}

#button_S {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#button_S:hover {
    color: rgb(66, 192, 66);
    transition: 0.7s;
}

#button_S:active {
    color: rgb(3, 83, 3);
}


#button_X {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#button_X:hover {
    color: rgb(33, 83, 33);
    transition: 0.7s;
}

#button_X:active {
    color: rgb(13, 41, 13);
}


#button_Switch {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#button_Switch:hover {
    color: rgb(212, 7, 7);
    transition: 0.7s;
}

#button_Switch:active {
    color: rgb(134, 0, 0);
}

#button_to_go_back {
    position: absolute;
    z-index: 3;
    color: white;
    background-color: transparent;
    border: none;
    margin: 12px 0px 0 10px;
    cursor: pointer;
}

#button_to_go_back:hover {
    background-color: rgb(197, 14, 14);
    font-size: 20px;
    transition: 1s;
}


#link_amazon {
    position: absolute;
    z-index: 4;
    color: white;
    background-color: transparent;
    border: none;
    margin: 520px 0 0 644px;
    cursor: pointer;
    font-size: 20px;
}

#link_amazon:hover {
    background-color: orange;
    font-size: 20px;
    transition: 1s;
    
}

@media screen and (max-width:900px) {
    .wrapper {
        position: relative;
        width: 100%;
        min-height: 100vh; /* permite que cresça se tiver mais conteúdo */
        overflow-y: auto;
    }

    video {
        height: 100%;
        width: 100%;
        object-fit: cover;
        
    }

    .link_nav {
        display: none;
    }

    #button_to_go_back {
        position: fixed;
    }

    h1 {
        position: absolute;
        margin: 65px 0 0 148px;
        font-size: 42px;
    }

    #paragrafo_section {
        position: absolute;
        text-align: center;
        font-size: 16px;
        width: 82%;
        top: 19%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    #link_amazon {
        position: fixed;
        text-align: center;
        margin: 703px 0 0 138px;
        padding: 0;
    }


    h2 {
        position: absolute;
        font-size: 23px;
        width: 301px;
        top: 52%;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
    }

    #lista_aside {
        position: absolute;
        font-size: 16px;
        width: 80%;
        top: 58%;
        left: 51%;
        transform: translateX(-50%);
        margin: 0;
        text-align: center;
    }
    
}



