* {
    margin: 0;
    padding: 0;
    
    
}

.wrapper {
    background-image: url(https://t90131761160.p.clickup-attachments.com/t90131761160/66fc2f7f-d2de-42d1-989f-5e6cc302bce6/generated-image-4c4f11fd-d176-4fb7-9560-bc5035e6a805.png?view=open);
    width: 100vw;
    height: 100vh;
    
}



.videogame {
    width: 300px;
    height: auto;
    box-sizing: border-box;
    display: inline-block;
    line-height: 100px;
    margin: 0 0 0 30px;
    

}


article {
    display: inline-block;
    text-align: center;
    
}

#xbox_series_S {
    margin-bottom: 15px;
    margin-left: 0;
    margin-right: 30px;
}

#xbox_series_X { 
    margin-bottom: 35px;
    margin-right: 0;
    margin-left: 1px;
}

#switch2 {
    margin-bottom: 40px;
    margin-left: 20px;
    margin-right: 10px;
}