* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: linear-gradient(109deg, rgba(10, 12, 16, 0.99) 15%, rgba(10, 12, 16, 0.7) 50%, rgba(10, 12, 16, 0.99) 85%);
}

video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}

.game {
    text-align: center;
    position: relative;
    z-index: 2;
}

.link_nav {
    margin: 10px;
    width: 100px;
    font-size: 12px;
}


#button_Play5 {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#button_Play5:hover {
    color: rgb(67, 67, 230);
    transition: 0.7s;
}

#button_Play5:active {
    color: rgb(6, 6, 117);
}


#button_S {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#button_S:hover {
    color: rgb(66, 192, 66);
    transition: 0.7s;
}

#button_S:active {
    color: rgb(3, 83, 3);
}

#button_Switch {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

#button_Switch:hover {
    color: rgb(212, 7, 7);
    transition: 0.7s;
}

#button_Switch:active {
    color: rgb(134, 0, 0);
}

#link_amazon {
    position: absolute;
    z-index: 4;
    color: white;
    background-color: transparent;
    border: none;
    margin: 520px 0 0 630px;
    cursor: pointer;
    font-size: 20px;
}

#link_amazon:hover {
    background-color: orange;
    font-size: 20px;
    transition: 1s;
    
}

#button_to_go_back {
    position: absolute;
    z-index: 3;
    color: white;
    background-color: transparent;
    border: none;
    margin: 12px 0px 0 10px;
    cursor: pointer;
}

#button_to_go_back:hover {
    background-color: rgb(197, 14, 14);
    font-size: 20px;
    transition: 1s;
}

h1 {
    z-index: 2;
    position: fixed;
    color: white;
    margin: 260px 0 0 45px;
    font-size: 80px;
}

#paragrafo_section {
    z-index: 2;
    position: fixed;
    color: white;
    margin:345px 0 0 45px;
    width: 510px;
    font-size: 22px;
}

h2 {
    position: fixed;
    color: white;
    z-index: 2;
    margin: 223px 0 0 861px;
}

#lista_aside {
    position: fixed;
    z-index: 2;
    color: white;
    font-size: 20px;
    margin: 253px 0 0 880px;
    width: 490px;
}